/* 
--- 01 Typography system
- Font Size(px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weight
    Default 400

- Line Height
    Default 1 

- spacing System
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

.budget-main {
  padding: 20px;
  margin: 0 50px;
  box-sizing: border-box;
}

.setBudget{
  margin-top: 2rem;
  text-align: start;
}

.budget-categories {
  margin-top: 2rem;
  max-width: 500px;
}

.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.category-item i {
  font-size: 1.8rem;
}
.set-budget-btn {
  border-color: #1f665e;
  transition: all 0.3s ease;
}

.set-budget-btn:hover{
  background-color: #1f665e;
}

.budget-popup{
  max-width: 400px;
}

.budget-form{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.budget-form-title{
  color: #1f665e;
}

.budget-form-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel-btn{
  border-color: #1f665e;
  transition: all 0.5s ease;
  width: 100px;
}
.cancel-btn:hover{
background-color: #e7e7e7;
}

.set-btn{
  color: #fff;
  background-color: #eac60b;
  width: 100px;
  transition: all 0.5s ease;
}

.set-btn:hover{
  color: #fff;
  background-color: #ffe662;
}

.add-category{
  display: flex;
  max-width: 500px;
  justify-content: center;
}
.add-category-btn {
  color: #1f665e;
  width: 200px;
  transition: all 0.5s ease;
}
.add-category-btn:hover{
  color: #fff;
  background-color: #1f665e;
}
.set-budgeted{
  text-align: start;
  height: 200px;
}
.no-budget{
font-size: 1.2rem;
}
.saving-title{
  text-align: start;
}

/* Card shadow and styling */
.card {
  border-radius: 10px;
}

/* Circular progress container */
.progress-circle {
  position: relative;
  display: inline-block;
  text-align: center;
}

.progress-circle svg {
  transform: rotate(-90deg);
}

.progress-circle .progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
}


/* Spacing and title */
.saving-title {
  font-size: 24px;
  font-weight: bold;
}

/* Custom dots button */
.btn-outline-secondary {
  border-radius: 10px;
  width: 36px;
  height: 36px;
}