.dashboard-container{
    font-family: 'Battambang';
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    height: 90vh;
}
.left-column,.right-column{
display: flex;
flex-direction: column;
gap: 10px;
}
.left-items{
    background-color: #1f665e;
    color: white;
    width: 500px;
    height: 250px;
}

.right-items{
    background-color: #1f665e;
    color: white;
    width: 500px;
    height: 350px;
}