/* src/components/Login.css */

.login-container {
    display: flex;
    height: 100vh; /* Full viewport height */
    font-family: 'Battambang';
}

.logo{
    max-width: 80px; /* Adjust the size of your logo as needed */
    margin-right: 10px;
  }
  
.logohead{
    font-size: 1.6rem;
    color: #eac60b;
}

.login-form {
    flex: 1;
    background-color: white; /* White side */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
    margin-bottom: 10px;

}

.flex-form{
    display: grid;
    width: 100%;
}
.form-group {
    justify-self: center;
    display: flex; /* Use flex for label and input */
    flex-direction: column; /* Stack label above input */
    margin-bottom: 10px; 
    width: 60%;
    padding: 5px 20px;
   /* Space between fields */
   
}

hr{
    border: 1px;
    overflow:visible;
}
.form-group label {
    align-self: flex-start;
    margin-bottom: 5px; /* Space between label and input */
}
.form-group input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    /* box-shadow: 10px solid rgb(61, 61, 61);  */
}
button {
    padding: 10px 15px; /* Add some padding */
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

button[type="submit"] {
    background-color: #eac60b; /* Your preferred button color */
    border:none;
    width: 100%;
    margin-bottom: 10px; /* Space between buttons */
}

button[type="button"] {
   border: 1px solid black;
   background-color: white;
   width: 100%;
}

.login-image {
    flex: 1;
    background-color: #1f665e; /* Green side */
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-image img {
    max-width: 100%;
    height: 85%;
}
.form-actions{
    justify-self: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 60%;
}