/* src/components/NavHome.css */
/* #1f665e green
    #eac60b yellow
    #ffe662 hover
 */
 .navbarhome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #1f665e; /* Change to your preferred background color */
    color: white;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    width: 70px; /* Adjust the size of your logo as needed */
    margin-right: 10px;
  }
  
  .logo-title {
    font-size: 1.5rem;
    color: #eac60b;
  }
  
  .main-navhome {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-button {
    background-color: #eac60b; /* Or a specific color */
    color: black; 
    border-radius: 5px;
    text-decoration-line: none;
    font-weight: 500;
    padding: 5px 15px;
    margin-left: 5px; /* Space between buttons */
    cursor: pointer;
    font-size: 1.1rem; /* Adjust font size as needed */
  }

  .login{
    background-color: white;
  }
  
  .nav-button:hover {
    background-color: #1f665e; /* Hover effect */
    color: white;
    border: 0.5px solid rgb(255, 255, 255);
  }
  