/* Budget-specific styles */

.budget-main {
  padding: 20px;
}

.budget-categories {
  max-width: 500px;
}

.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.set-budget-btn {
  transition: all 0.3s ease;
}
/* .add-category-btn {
  color: #1f665e;
  width: 200px;
  padding: 2rem 1rem;
  font-size: 3rem;
} */