/* src/components/Navbar.css */
/* #1f665e green
    #eac60b yellow
    #ffe662 hover
 */
 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: #1f665e;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-title{
  color: #eac60b;
  font-size: 1.5rem;
}
.logo-img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.main-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50px;
  font-size: 1.2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: auto;
  gap: 50px;
}

.link {
  text-decoration: none;
  color: white;
}

.currency {
  display: flex;
  align-items: center;
}

.dropdown {
  padding: 10px 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #eac60b;
}
.dropdown:hover{
  background-color: #ffe662;
}
.dropdown-option{
  color: #000;
  background-color: #fff;
}
.profile {
  margin: auto 20px;
  padding: 10px;
  background-color: #eac60b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.profile:hover{
  background-color: #ffe662;
}
.profile-icon {
  font-size: 20px; 
  margin-right: 10px;
}

.profile-link{
  text-decoration: none;
  color: #fff;
}